<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Papers" connectionString="Data Source=MO-726-001;Initial Catalog=PapersDevelop;Persist Security Info=True;User ID=sa;Password=1771980"
      providerName="System.Data.SqlClient" />
    <add name="PapersDbWorker.Properties.Settings.PapersConnectionString"
      connectionString="Data Source=MO-726-001;Initial Catalog=Papers;Persist Security Info=True;User ID=sa;Password=1771980"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>