<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PapersDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\develops\Newspapers\papersdb\db.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>