
.empty-gtmp-cell .x-panel-body {
  text-align:center;
  font-size:11px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

.full-gtmp-cell .x-panel-body{
  text-align:center;
  font-size:11px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c3d6e4;
}

.column-header {
    width: 30%;
    text-align:left;
    text-wrap:normal;
    font-style:italic;
}

.column-normal {
    text-align:left;
    text-wrap:normal;   
}